:root {
  --bodyBg: #1571cc;
  --menuBg: #000000;
  --progressBar: #4ee4c3;
}

body {
  background-color: #777303 !important;
  background-image: url("hexagons.svg") !important;
}

#menu {
  background: var(--menuBg);
}

#appbar {
  padding: 1.5em 2em;
}

#cardListContainer {
  margin-top: 3%;
  width: 60%;
}

#brewTable {
  margin-top: 3%;
  width: 60%;
}

#deleteBrewButton {
  background-color: goldenrod;
}

#starWarsButton {
  width: 15%;
}

/* Overrides default styled accordion styles (too much bottom padding) */

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.ui.fluid.container.landing-image {
  width: 100%;
  height: 100%; 
  position: absolute;
  display: inline-block;
  /* background-image: url("images/hops.jpg") !important; */
  /* background-size: cover !important; */ 
  background-color: #777303;
  background-image: url("hexagons.svg");
}